mixin switch(name)
   .switch
      input(type="radio" class="switch-input" name="#{name}" value="0" checked="")
      input(type="radio" class="switch-input" name="#{name}" value="1" )
      span.switch-selection

