mixin switch()
   .switch
      input(type="radio" class="switch-input" name="view" value="" id="week" checked="")
      label(for="week" class="switch-label switch-label-off")
      input(type="radio" class="switch-input" name="view" value="" id="week")
      label(for="week" class="switch-label switch-label-on")
      span.switch-selection

