extends ../layout
block content
    .container-fluid
        .row
            .title
                a(href="#{resource}pages/index.html")
                  img(src="#{resource}/img/arrow-left.png")
                |挣点明细



