extends ../layout
include ../mixin/arrow
include ../mixin/switch
block content
    .container-fluid
        .row
            .title
                a(href="#{resource}pages/userinfo.html")
                    img(src="#{resource}/img/arrow-left.png")
                | 通知提醒
        .row
            +arrow('img/ignition.png','点火通知','')
                +switch()
            p(style="border-bottom:1px solid #ececec;margin:0 15px;")
        .row
            +arrow('img/trip.png','行程提醒','满1000挣点可以提现','exchange.html')
                +switch()
            p(style="border-bottom:1px solid #ececec;margin:0 15px;")
        .row
            +arrow('img/vibration.png','震动提醒','打开')


